@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@{string e; for (int i = 0; i < 3; i++)
    {
        e = i + "patinhos na lagoa";
        <p>pato ganso marreco @e</p>
    }


}





}
